<section>
    <div class="bg-white flex items-center justify-center px-12 pt-12">
      <h1 class="text-2xl font-bold mt-10">Nuevo tipo</h1>
    </div>
  <div class="max-w-md mx-auto mt-8 bg-white p-6 shadow-md mb-10">
    <%= form_with(model: @type) do |form| %>
      <% if @type.errors.any? %>
        <div class="text-red-500 mb-4">
          <h2><%= pluralize(@type.errors.count, "error") %> prohibited this type from being saved:</h2>

          <ul>
            <% @type.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-4">
        <%= form.label :name, class: "block" %>
        <%= form.text_field :name, class: "border-2 border-gray-300 p-2 w-full" %>
      </div>

      <div>
        <%= form.submit "Save", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
    <% end %>
  </div>

  <div class="text-center mt-4 mb-48">
    <%= link_to "Back to types", types_path, class: "text-black hover:underline hover:text-gray-800" %>
  </div>
</section>