<%= turbo_frame_tag 'types' do %>

  <h1 class="mt-20 px-5 font-bold text-2xl m-auto">Vehículos</h1>
  
  <section class="flex justify-between items-center shadow w-full p-5">
    <h3 class="font-semibold text-lg">Categorias</h3>
      <%= link_to t('.all'), cars_path, class: 'hover:bg-gray-200 transition duration-300 ease-in-out px-3 py-1 rounded-lg' %>
      <%= render partial: 'type', collection: @types %>
  </section>

  <main class="flex w-full p-5">
  <aside class="flex flex-col w-1/4 space-y-4 pr-2">
    <%= render 'cars/filter' %>
    <%= render 'cars/order_by' %>
  </aside>
  <section class="flex flex-col w-3/4">
    <h2 class="font-bold p-2 mx-auto text-lg">Vehículos</h2>
    <p class='text-blue-500 p-2'>Vehículos disponibles: <%= @cars.count %></p>
    <div class="grid grid-cols-3 gap-4">
      <%= render partial: 'car', collection: @cars %>
    </div>
  </section>
</main>


<% end %>


